.fa-x{
    border: 2px red solid;
    color: red;
    top:10px;
    right: 10px;
    padding-left: 12.5px;
    border-radius: 5px;
    transition: .25s;
}
.fa-x:hover{
    background: red;
    color: beige;
    transition: .25s;
}

#img_container {
    width:300px;
    height:300px;
    overflow:hidden;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: .5s;
}
#img_container:hover {
    width:350px;
    height:350px;
    transition: .5s;

    box-shadow:  -14px 14px 45px #a7a7a7,
                14px -14px 45px #fbfbfb;
}
button{
    padding-top: 4px;
}
button:hover{
    color: rgb(235, 192, 255);
}
img {
    width:100%;
    height:100%;
    object-fit: cover;
    transition: .25s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: .25s;
}
img:hover{
    transform: scale(2.5) translateY(-10px);
    transition: .25s;
    cursor: pointer;
}
.imgStatic{
    transform: scale(2.5) translateY(-10px);
    transition: .25s;
}
a{
    margin: 10px;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: .20s;
}
a:hover {
    color: beige;
    border: black 1px solid;
    background-color: black;
    transition: .20s;
}

form{
    position: absolute;
    top: 50%;
    left: 52%;
    background-color: rgb(235, 192, 255);
    border-radius: 5px 15px 15px 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
#form-bg{
    position: absolute;
    background-color:purple;
    opacity: .1;
    width: 100%;
    height: 100%;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.hidden{
    display: none !important;
}

#cancel{
    width: 90px;
    height: 30px;
    margin: 10px;
    border: red 1px solid;
    color: red;
}
#cancel:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(235, 192, 255);
}
@media (max-width: 620px) {
    form{
        top: 50%;
        left: 50%;
        transform: translatex(-50%);
        border-radius: 10px;
        transition: 1s;
    }
}